{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property List</title>
</head>
<body>
    <h1>Property List</h1>
    <ul>
        {% for property in properties %}
        
        <li>
            {% if property[6] %} {# Check if photo is available #}
            <img src="data:image/png;base64,{{ property[6] }}" alt="Property Photo">
            {% else %}
            <p>No photo available</p>
            {% endif %}
            <div>
                <h2>Title: {{ property[1] }}</h2> {# Accessing title using indexing #}
                <p>Location: {{ property[4] }}</p>
                <p>Price: ${{ property[5] }}</p>
                <p>Bedrooms: {{ property[2] }}</p>
                <p>Bathrooms: {{ property[3] }}</p>
                <p>Type: {{ property[6] }}</p>
                <p>Description: {{ property[7] }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>