{% include "header.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Details</title>
</head>
<body>
    <h1>Property Details</h1>
    <div>
        <h2>{{ title }}</h2>
        <p><strong>Bedrooms:</strong> {{ bedrooms }}</p>
        <p><strong>Bathrooms:</strong> {{ bathrooms }}</p>
        <p><strong>Location:</strong> {{ location }}</p>
        <p><strong>Price:</strong> {{price }}</p>
        <p><strong>Type:</strong> {{ prop_type }}</p>
        <p><strong>Description:</strong> {{ description }}</p>
        {% if (photo_data) %}
        
            <img src="{{ url_for('static', filename='photos/'+photo_data) }}" alt="Property Photo">
        {% else %}
            <p>No photo available</p>
        {% endif %}
    </div>
</body>
</html>